.b-details {
    border-left: 1px solid #bdbdbd;

    height: 100%;

    float: left;

    overflow: auto;

    position: relative;

    width: 50%;
}


.b-details__details {
    line-height: 120%;
}


.b-details h3 {
    background: #f0f0f0;

    border-bottom: 1px solid #bdbdbd;
    border-top: 1px solid #bdbdbd;

    font-size: 13px;

    font-weight: normal;

    margin: 0;

    padding: 0 8px;
}


.b-details h3:first-child {
    border-top: none;
}
