body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.b-no-routes {
    display: table;

    height: 100%;

    width: 100%;
}


.b-no-routes div {
    display: table-cell;

    font-size: 18px;

    opacity: .5;

    text-align: center;

    vertical-align: middle;
}


.b-frames {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

    font-size: 11px;

    line-height: 170%;
}


.b-frame {
    background: #fff;

    border-top: 1px solid #fff;
}


.b-frame__contents {
    position: relative;
}


.b-frame__status {
    box-sizing: border-box;

    font-size: 20px;

    font-style: normal;

    height: 20px;

    left: -18px;

    line-height: 20px;

    position: absolute;

    text-align: center;

    top: -1px;

    width: 20px;
}


.b-frame__status div {
    display: none;

    height: 20px;

    margin-top: -1px;

    width: 20px;
}


.b-frame_loading > .b-frame__contents .b-frame__status {
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}


.b-frame_loading > .b-frame__contents .b-frame__status div.b-frame__loading {
    color: #777;

    display: block;
}


.b-frame_ok > .b-frame__contents .b-frame__status div.b-frame__ok {
    color: #090;

    display: block;
}


.b-frame_error > .b-frame__contents .b-frame__status div.b-frame__error {
    color: #900;

    display: block;
}


.b-frame_inactive > .b-frame__contents .b-frame__status div.b-frame__inactive {
    color: #aaa;

    display: block;
}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.b-frame__uri {
}


.b-frame_active {
    background: #eee;
}


.b-frame_active > .b-frame__contents {
    font-weight: bold;
}


.b-frame_not-found > .b-frame__contents {
    font-style: italic;
}


